
<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2>Yay</h2>

    <form action="/scrape" method="GET">
		<button class="btn btn-danger" type="submit">Grab Articles</button>
	</form>
    <div id="articles"></div>

    <div id="notes"></div>
  </div>